$tile-size: 50px;
$color-1: #7d4627;
$color-2: #a8b6bf;
$color-3: #c9d8c5;
$color-4: #edd9c0;
$font-family: Roboto, sans-serif;
$line-height: 1.6;
$tile-border: 5px solid #ccc;
$board-border: 5px solid #ccc;
$tile-border-radius: 13px;
$board-border-radius: 13px;
$tile-font-size: 2.1rem;
$container-width: 180px;
$dialog-size: calc(100% + 10px); // board-border * 2 = 20px

.container {
  margin: auto;
  width: $container-width;
  position: relative;
}

.board {
  text-align: center;
  background-color: $color-1;
  height: 100%;
  width: 100%;
  margin: auto;
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
  border: $board-border;
  //padding: 10px;
  border-color: $color-1;
  border-radius: $board-border-radius;
}

.tile {
  width: $tile-size;
  height: $tile-size;
  cursor: default;
  text-align: center;
  display: inline-block;
  font-size: $tile-font-size;
  line-height: $line-height;
  font-family: $font-family;
  border: $tile-border;
  border-color: $color-1;
  border-radius: $tile-border-radius;
  background-color: $color-2;
  &:hover {
    background-color: $color-3;
  }
}

.X {
  @extend .tile;
  color:  $color-1;
}
.O {
  @extend .tile;
  color: $color-4;
}
.not-played {
  @extend .tile;
  color: $color-2;
}

.slide-enter {
  opacity: 0.01;
}

.slide-enter.slide-enter-active {
  opacity: 0.1;
  width: 1000px;
  transition: opacity 3000ms ease-in;
}

.slide-leave {
  width: 1000px;
  opacity: 1;
}

.slide-leave.slide-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: opacity 3000ms ease-in;
}

